.product-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-image-container {
  max-height: 110px;
  display: flex;
  justify-content: center;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
}

.product-category {
  font-size: 15px;
}

.add-to-cart-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.add-to-cart-button-container .MuiButton-root {
  width: 90%;
  height: 30px;
}

.product-grid-container {
  padding: 15px;
  position: relative;
}

.product-container-favorite {
  cursor: pointer;
  color: #1875d2;
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 5px;
}
